<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yummy!</title>
</head>
<body>
  <h1>P2</h1>
  <p>A Feeding Data Traker: agile, adaptable, and easy to use application to track and 
    interpret feeding progress through notes intended for both therapists and families</p>


    <a href="/setups">Start Your Session!</a> <br><br>
    <a href="/">Homepage!</a><br><br>
</body>
</html>