<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=">
    <title>Document</title>
</head>
<body>
    <h1>Made it to the show page push all the data of setup to Note and display it here
        also provide an option to add a comment which ill link to a "/notes/new" and then 
        render back to the notes index "/notes"
    </h1>

    <br><br>
  <a href="/">Homepage!</a>
  <a href="/notes">ffffnotesss!</a>
  <a href="/notes/new">add a comment!</a>
</body>
</html>