<h1>Patients</h1>

<h4>Add A Patient</h4>

<p>Feeding Pateints: </p>

<!-----Pull info from form and save on this page if availale if not add patient-->
<!-----if pt present, option to delete a paitent with an alert 
    that it will delete patient and all patient's data-->