<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="./js/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/><!----Show patient's med info, progress notes-->
  <title>YuMMY!</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center"> 🍭 YuMMY!🥣 </a>
  </div>
</nav>
<h1>Patient Intake Form: </h1>


<form action="/users" method="POST" name="addPatientForm">
<label>Full Name: </label>
  <input name="name" type="text" required> <br> <br>

  <label> Date of Birth: </label>
  <input name="birthdate" type="date" value="" required> <br> <br>

  <label>Age: </label>
  <input name="ageYear" type="number" min="0" max="18" value="1" required>years
  <input name="ageMonth" type="number" min="0" max="12" value="1" required>months<br> <br>


  <label> Allergies: </label>
  <input name="allergies" type="text" required><br> <br>

  <label> Diagnoses: </label>
  <input name="diagnoses" type="text" required><br> <br>

  <label>Developmental History: </label>
  <textarea name="history" type="text" rows="4" cols="50" required> </textarea><br> <br>


  <label>Feeding and Swallowing Concerns: </label>
  <textarea name="concerns" type="text" rows="4" cols="50" required> </textarea><br> <br>

  <button type="submit">Add Patient</button>
</form>

</body>
</html>