<h1>Add A New Patient: </h1>


<form action="/users/index" method="POST">
<label>Full Name: </label>
  <input name="name" type="text"> <br> <br>

  <label> Date of Birth: </label>
  <input name="birthdate" type="text"><br> <br>

  <label>Age: </label>
  <input name="age" type="text"><br> <br>

  <label> Allergies: </label>
  <input name="allergies" type="text"><br> <br>

  <label> Diagnoses: </label>
  <input name="diagnoses" type="text"><br> <br>

  <label>Developmental History: </label>
  <input name="history" type="text"><br> <br>

  <label>Feeding and Swallowing Concerns: </label>
  <input name="concerns" type="text"><br> <br>

</form>