<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="./js/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <title>YuMMY!</title>
</head>
<body>
  
<h1>Select a Feeding Setup Below OR</h1>
<a href="/setups/<%=user.patientInfo._id %>/new">Create New Setup</a>
    
    
<table>
        <thead>
          <tr>
            <th>Setup Date</th>
          </tr>
        </thead>
        <tbody>
            <% user.setup.forEach(function(p) {%>
            <tr>
              <td><a href= <%=`users/${p._id}/setups`%>><%= p.date %></a></td>
              <td><a href="/setups/show<%= p._id %>">View Full Setup</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>