<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

<h3>Complete Setup Prior to Starting Your Feeding Session</h3>
<form action="/setup" method="POST">
    <label>Seating:</label>
    <input type="checkbox" name="seating" required>
    
    <label>Food Prep:</label>
    <input type="checkbox" name="foodPrep" required>

    <label>Transition:</label>
    <input type="checkbox" name="transition" required>

    <label>Tools/Utensils:</label>
    <input type="checkbox" name="tools" required>

    <label>Comments:</label>
    <input type="text" name="setUpComments" size="100" maxlength="500" value="100" required>


  
  </form>
  <a href="/setups/new">Start Feeding!</a>
  <br><br>
  <a href="/">Homepage!</a>
</body>
</html>