<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="./js/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>


  <title>Document</title>
</head>
<body>
  

<h3>Feeding Setup</h3>
<p>Please complete feeding setup per therapist reccommendations</p>

 <form id="setupForm" action="/setups/new" method="POST"> 
  <p>
    <label>
      <input name="seating" type="checkbox" class="filled-in" />
      <span>Seating</span>
    </label>
  </p>
  <p>
    <label>
      <input name="foodPrep" type="checkbox" class="filled-in" />
      <span>Food Prep</span>
    </label>
  </p>
  <p>
    <label>
      <input name="transitions" type="checkbox" class="filled-in" />
      <span>Transition</span>
    </label>
  </p>
  <p>
    <label>
      <input name="tools" type="checkbox" class="filled-in"  />
      <span>Tools&Utensils</span>
    </label>
  </p>
  <p>
  <label>Comments:</label>
  <input type="text" name="comments" size="100" maxlength="500" value="Setup-comments" > <br>
</p>

<button type="submit"> Setup Completed</button>

</form>

<p>Use Previous Setup</p>

<% setups.forEach(function(setup){ %>
<ul>
  <li><%=setup.date%></li> 
</ul>
});
</form>
<!--Add link to nav to each setup and option to use setup link to empty set up form, then back to
normal route filling out feeding session info-->

  
  <a href="/setups/new">Start Feeding!</a>
  <br><br>
  <a href="/">Homepage!</a>
</body>
</html>