<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<h3>Feeding Session</h3>

        <div class="timer">
            <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">10</span>
        </div>
        <div class="control">
            <button onClick="timer.start(1000)">Start</button> 
            <button onClick="timer.stop()">Stop</button> 
            <button onClick="timer.reset(60)">Reset</button> 
            <button onClick="timer.mode(1)">Count up</button> 
            <button onClick="timer.mode(0)">Count down</button>
        </div>

  <form action="/setUp" method="POST">
    <label>Date:</label>
    <input type="datetime-local">

    <label>Length of Session:</label>
    <input type="number" name="LengthOfSession" >

    <label>Per Oral: </label>
    <select name="PerOral" value= "PerOral" required>
      <input name="PerOral"  value="Food">Food</input>
    
 

  <label >Liquids</label>
  <input name="liquids" value="Food">Food</input>


   
    <div class="input-field col s12">
        <label >Explored With: </label>
        <input name="explored" type="text">
        <select multiple>
          <option value="" disabled selected>Choose your option(s)</option>
          <option value="1">Visual Attention</option>
          <option value="1">Finger Tips</option>
          <option value="2">Whole Hands</option>
          <option value="3">Face</option>
          <option value="3">Lips</option>
          <option value="3">Tongue</option>
        </select>
        
      </div>
      <label>Session Notes: </label>
      <input type="text" name="sessionNotes" >

    <button type="submit" >Session Completed</button>

  </form>
  
  <a href="/setups/show">nav to show Confirmation page</a> <br><br>
  <a href="/">Homepage!</a><br><br>


 
   
    

</body>
</html>