<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/script.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Document</title>
</head>
<body>

<h3>Feeding Session</h3>

<div class="container">
    <h4 class="title">Start Timer Prior to Feeding</h4>
    <h1 id="timerLabel">00:00:00</h1>
    <input type="button" class="myButton" onclick="start()" value="START" id="startBtn">
    <input type="button" class="myButton" onclick="stop()" value="STOP">
    <input type="button" class="myButton" onclick="reset()" value="RESET">
</div> <br><br>

  <form action="/setups/show" method="POST">
    <label>Date:</label>
    <input type="datetime-local"> <br><br>

    <label>Length of Session:</label>
    <input type="number" name="LengthOfSession" min="0" max="3" required> Hours 
    <input type="number" min="0" max="59" name="LengthOfSession" required> Minutes <br><br>

    
    <label>Foods</label>
    <select name="foods" id="foods">
        <option value="softSolid">Reg Soild</option>
        <option value="softSolid">Soft Soild</option>
        <option value="puree">Puree</option>
    </select>
        <input type="text" name="foods"> 
        <label >Volume</label>
        <input type="number" name="voume" value=""> <select name="volume" id="volume">
          <option value="tsp">tsp</option>
          <option value="tbs">tbs</option>
          <option value="oz">oz</option>
          <option value="cups">cups</option>
          <option value="mL">mL</option>
          <option value="other">Other</option>
        </select>
        <label>
            <input name="aspiration" type="checkbox" class="filled-in"  />
            <span>Aspiration</span>
          </label><br><br>
    
    <label>Liquids:</label>

    <select name="liquids" id="liquids">
        <option value="thinLiquid">Thins</option>
        <option value="ntl">NTL</option>
        <option value="htl">HTL</option>
    </select>
        <input type="text" name="liquids">
        <label >Volume</label>
        <input type="number" name="voume" value=""> <select name="volume" id="volume">
          <option value="tsp">tsp</option>
          <option value="tbs">tbs</option>
          <option value="oz">oz</option>
          <option value="cups">cups</option>
          <option value="mL">mL</option>
          <option value="other">Other</option>
        </select>
        <label>
            <input name="aspiration" type="checkbox" class="filled-in"  />
            <span>Aspiration</span>
          </label><br><br>

        <label >Exploration: </label>
        <select required> <!--ability to select multiple?-->
          <option value="None">None</option>
          <option value="Visual">Visual</option>
          <option value="Fingers">Fingers</option>
          <option value="Hands">Hands</option>
          <option value="Face">Face</option>
          <option value="Lips">Lips</option>
          <option value="Tongue">Tongue</option>
        </select> <br> <br>
        
      </div>
      <label>Summary: </label>
      <textarea name="summary" id="" cols="30" rows="10"></textarea>

    <button type="submit" >Session Completed</button>

  </form>
  
  <a href="/setups/show">nav to show Confirmation page</a> <br><br>
  <a href="/">Homepage!</a><br><br>


 
   
    

</body>
</html>