<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html><h3>Feeding Session</h3>

        <div class="timer">
            <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">10</span>
        </div>
        <div class="control">
            <button onClick="timer.start(1000)">Start</button> 
            <button onClick="timer.stop()">Stop</button> 
            <button onClick="timer.reset(60)">Reset</button> 
            <button onClick="timer.mode(1)">Count up</button> 
            <button onClick="timer.mode(0)">Count down</button>
        </div>

  <form action="/setUp" method="POST">
    <label>Date:</label>
    <input type="datetime-local">

    <label>Length of Session:</label>
    <input type="number" name="LengthOfSession" >

    <label>Per Oral: </label>
    <select name="PerOral" value= "PerOral" required>
      <option value="Food">Food</option>
      <option value="Liquid">Liquid</option>
  </select>
      
    <button type="submit" >Session Completed</button>
  </form>
  
  <a href="/setups/show">nav to show confimr page</a> <br><br>
  <a href="/">Homepage!</a><br><br>

