<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>this page will pull essentially the data filled out from set up and feedingsession pushed
        to setup and ask for confirmation prior to submitting note. 
    </p>
    <a href="/">Homepage!</a><br><br>
    <a href="/notes">ffffnotesss!</a>
</body>
</html>